/Sensor/nbproject/private/
/Sensor/build/
/Sensor/dist/
/Node/nbproject/private/
/NodeGest/nbproject/private/
/Manager/nbproject/private/
/Manager/build/
/NodeGest/build/
/Node/build/
/Manager/dist/
/StringTest/nbproject/private/
/StringTest/build/
/Node/dist/
/NodeGest/dist/
/ManagerWS/nbproject/private/
/NodeGestWS/nbproject/private/
/NodeWS/nbproject/private/
/SensorWS/nbproject/private/